* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 10%;
}


.grid-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid rgb(226, 43, 43);
  flex-grow: 1;
  height: 9.1%;
  width: 9%;
}

.grid div.invaders {
  background-image: url('../assets/wario.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.player {
  background-image: url('../assets/mario.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.main-section {
  display: flex;
  justify-content:space-around
  width: 100vw;
}
aside {
  display: flex;
  flex-direction: column;
  border-style: solid;
  height: 70vh;
  width: 30vw;
}