* {
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  margin: 10%;
  height: 80vh;
  background-image: url('../assets/background.jpg');
  background-position: center;
  
}
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.score-board {
  position: absolute;
  padding-left: 40px;
  padding-right: 10px;
  width: 100%;
  color: white;
  text-shadow: 2px 2px rgb(57, 145, 172);
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.grid-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/background.jpg');
  background-size: cover;  
}

.grid {
  align-items: center;
  box-shadow: 0 20px 20px 0 rgba(25, 25, 27, 0.5);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  height: 600px;
  width: 600px;
}

.grid div {
  /* border: 1px solid rgb(226, 43, 43); */
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.grid div.invaders {
  background-image: url('../assets/wario.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.grid div.player {
  background-image: url('../assets/mario.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  height: 6%;
}

aside {
  box-shadow: 0 20px 20px 0 rgba(25, 25, 27, 0.5);
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
  height: 650px;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  margin-left: 5%;
}
li {
  margin: 8px;
}
.rules {
  color: rgb(248, 239, 239);
  text-shadow: 2px 2px rgb(57, 145, 172);
  margin: 5% 5%;
  height: 85%;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  
   
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
}

.shield {
  background-image: url('../assets/brick.png');
  background-size: cover;
  background-position-x: center;
  background-size: 37px;
}

.ball {
  background-image: url('../assets/ball.png');
  background-size: cover;
  background-position-x: center;
  background-size: 25px
}
.bullet {
  background-image: url('../assets/wario-bullet.png');
  background-position: center;
  background-size: cover;

}