* {
  box-sizing: border-box;
}

body {
  margin: 10%;
  height: 80vh;
  background-image: url('../assets/background.jpg');
  background-position: center;
  
}
.main-section {
  display: flex;
  justify-content:start;
  align-items: center;
  width: 60vw;
  height: 60vh;
}
.score-board {
  display: flex;
}
.grid-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/background.jpg');
  background-size: cover
  
}

.grid {
  align-items: center;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  height: 600px;
  width: 600px;
}

.grid div {
  /* border: 1px solid rgb(226, 43, 43); */
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.grid div.invaders {
  background-image: url('../assets/wario.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.grid div.player {
  background-image: url('../assets/mario.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  height: 800px;
  width: 20vw;
  margin-left: 5%;
}

.rules {
  border-style: solid;
  margin-bottom: 5%;
  height: 40%;
  width: 80%
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  height: 40%;
  width: 80%
}

.shield {
  background-image: url('../assets/brick.png');
  background-size: cover;
  background-position-x: center;
  background-size: 37px;
}

.ball {
  background-image: url('../assets/ball.png');
  background-size: cover;
  background-position-x: center;
  background-size: 27 px
}
.bullet {
  background-image: url('../assets/wario-bullet.png');
  background-position: center;
  background-size: cover;
}